.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 120px;
}

.homeDescription {
  font-size: 20px;
  width: 95vw;
  max-width: 1000px;
  margin: 20px;
  padding: 10px;
  border-radius: 15px;
}
